/* Styles for the main page */

// Importing Utilities
@import "../Utilities/Utilities";

/* General section styles */
body {
  height: 100%;
  background-color: get($colors, light);
}
.CenterContent {
  position: relative;
  height: 100%;
  background-color: get($colors, light);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.ContentSection {
  padding: 70px;
  padding-bottom: 200px;
  padding-top: 200px;
}

.ContentHeader {
  width: fit-content;
  font-size: 4.5em;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}

/* First section styles */
#FirstBackground {
  height: 170%;
  width: 100%;
  align-self: start;
  background-color: get($colors, dark);
  clip-path: polygon(28% 0, 100% 100%, 100% 0);
  position: absolute;
}

.Title {
  font-family: get($fonts, title);
}

#Name {
  letter-spacing: 2px;
  font-size: 6em;
  background: transparent;
  background-clip: text;
  color: get($colors, light);
  mix-blend-mode: difference;
}

/* About section */
#AboutSection {
  padding: 30px;
  margin: auto;
  max-width: 1100px;
  border: solid 10px get($colors, lighter-dark);
  box-shadow: 5px 5px 8px rgba($color: get($colors, lighter-dark), $alpha: 0.3);
  background: rgb(235, 234, 234);
  position: relative;
  z-index: 5;
  box-sizing: border-box;
}

.Msg {
  font-size: 1.4em;
  letter-spacing: 1.8px;
  line-height: 1.8em;
  font-family: get($fonts, content);
  margin: 0;

  a {
    text-decoration: underline;
    color: rgb(0, 198, 0);
  }
}

/* Quote section styles */
blockquote {
  margin: 0;
  padding: 0;
}

.BigQuote:before,
.BigQuote:after {
  color: get($colors, dark);
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 60px;
  font-size: 70px;
}

.BigQuote:before {
  content: "\201C";
}

.BigQuote:after {
  content: "\201D";
}

.RecMsg {
  font-size: 1.4em;
  letter-spacing: 2px;
  line-height: 2em;
  font-family: get($fonts, content);
  margin: 0;
}

.QuoteOwner {
  margin-top: 10px;
  margin-right: 20px;
  text-align: right;
}

//Midium screen
@media screen and (max-width: get($breakPoints, mid)) {
  .ContentHeader {
    font-size: 3em;
  }

  #Name {
    font-size: 4em;
  }

  #AboutSection {
    padding: 20px;
  }

  .Msg {
    font-size: 1.2em;
    letter-spacing: 1.6px;
    line-height: 1.7em;
    font-family: get($fonts, content);
    margin: 0;
  }
}

//Small screen
@media screen and (max-width: get($breakPoints, small)) {
  .ContentHeader {
    font-size: 2.7em;
    margin-bottom: 20px;
  }

  #Name {
    font-size: 3.2em;
  }

  #AboutSection {
    padding: 15px;
    margin: 0 20px;
    border-width: 5px;
  }

  .Msg {
    font-size: 1.1em;
    letter-spacing: 1.4px;
    line-height: 1.7em;
    font-family: get($fonts, content);
    margin: 0;
  }

  .ContentSection > * {
    margin: 0 30px;
  }

  .ContentSection {
    padding: 0;
    padding-bottom: 80px;
    padding-top: 80px;

    .ContentHeader {
      margin: 0 auto;
    }
  }
}
